$color-link: #1a73e8;
$color-text: #393D3F;
$color-border: #c0c0c0;
$background-hover: rgb(128 128 128 / 10%);
$background-selected: rgb(128 128 128 / 20%);

$file-icons: (
        folder,
        image,
        zip,
        rar,
        archive,
        txt,
        doc,
        xls,
        xml,
        pdf,
        audio,
        video
);