@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'Google Sans';
  src: local('Google Sans Regular'), local('GoogleSans-Regular'),
  url('../fonts/GoogleSans-Regular.woff2') format('woff2');
}

