@use "font.scss";
@use "reset";
@use "loader";
@use "layout/common";
@use "layout/toolbar";
@use "layout/address-bar";
@use "layout/statusbar";
@use "layout/container";
@use "env";

div.input-box {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 16px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  transform: translateX(-50%) translateY(-50%);

  input {
    width: 240px;
    height: 32px;
    padding: 0 8px;
    border: 1px solid env.$color-border;
    border-radius: 4px;
  }
}

/* @media (prefers-color-scheme: dark) {
	body { background: #292A2D;}
	body, button {color: #fff;}
} */
