.loading {
  position: relative;
}

.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 / 40%) url("data:image/svg+xml,%3Csvg width='200px' height='200px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-flickr' style='background: none;'%3E%3Ccircle ng-attr-cx='%7B%7Bconfig.cx1%7D%7D' cy='50' ng-attr-fill='%7B%7Bconfig.c1%7D%7D' ng-attr-r='%7B%7Bconfig.radius%7D%7D' cx='43.648' fill='%234bb15e' r='20'%3E%3Canimate attributeName='cx' calcMode='linear' values='30;70;30' keyTimes='0;0.5;1' dur='1' begin='-0.5s' repeatCount='indefinite'%3E%3C/animate%3E%3C/circle%3E%3Ccircle ng-attr-cx='%7B%7Bconfig.cx2%7D%7D' cy='50' ng-attr-fill='%7B%7Bconfig.c2%7D%7D' ng-attr-r='%7B%7Bconfig.radius%7D%7D' cx='56.352' fill='%234990e2' r='20'%3E%3Canimate attributeName='cx' calcMode='linear' values='30;70;30' keyTimes='0;0.5;1' dur='1' begin='0s' repeatCount='indefinite'%3E%3C/animate%3E%3C/circle%3E%3Ccircle ng-attr-cx='%7B%7Bconfig.cx1%7D%7D' cy='50' ng-attr-fill='%7B%7Bconfig.c1%7D%7D' ng-attr-r='%7B%7Bconfig.radius%7D%7D' cx='43.648' fill='%234bb15e' r='20'%3E%3Canimate attributeName='cx' calcMode='linear' values='30;70;30' keyTimes='0;0.5;1' dur='1' begin='-0.5s' repeatCount='indefinite'%3E%3C/animate%3E%3Canimate attributeName='fill-opacity' values='0;0;1;1' calcMode='discrete' keyTimes='0;0.499;0.5;1' ng-attr-dur='%7B%7Bconfig.speed%7D%7Ds' repeatCount='indefinite' dur='1s'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E") 50% 50% no-repeat;
  background-size: 48px 48px;
  text-align: center;
}

body.loading::after {
  position: fixed;
}
