@use "../env";

.fm-address-bar {
  display: flex;
  padding: 0 8px;
  line-height: 32px;
}

.fm-address-bar button {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.fm-address-bar button:hover {
  background-color: env.$background-hover;
}

.fm-address-bar button.selected {
  background-color: env.$background-selected;
}

.fm-address-bar button.btn-up {
  margin-right: 8px;
  background-image: url("../icons/ui/up.png");
}

.fm-address-bar button.btn-refresh {
  margin-right: 8px;
  background-image: url("../icons/ui/refresh.png");
}

.fm-address-bar button.btn-file {
  background-image: url("../icons/ui/file.png");
}

.fm-address-bar button.btn-folder {
  background-image: url("../icons/ui/folder.png");
}

.fm-address-bar button.btn-image {
  background-image: url("../icons/ui/image.png");
}

.fm-address-bar button.btn-archive {
  background-image: url("../icons/ui/archive.png");
}

.fm-address-bar .filter {
  display: flex;
  margin-left: 16px;
}

.fm-address-bar .path {
  display: flex;
  flex-grow: 1;
  padding: 0 8px;
  border: 1px solid env.$color-border;
  border-radius: 3px;
  line-height: 26px;
}

.fm-address-bar .path .item {
  padding: 0 6px;
  border: 2px solid transparent;
}

.fm-address-bar .path .item.home {
  width: 30px;
  background: url("../icons/ui/home.png") 50% 50% no-repeat;
}

.fm-address-bar .path .item:not(:last-child) {
  cursor: pointer;
}

.fm-address-bar .path .item:not(:last-child):hover {
  background-color: env.$background-hover;
}

.fm-address-bar .path .item.ui-droppable-hover {
  border: 2px dashed #008bfd;
}

.fm-address-bar .path .separator {
  width: 8px;
  padding: 0 4px;
  background: url("../icons/ui/back.png") 50% 50% no-repeat;
  background-size: 8px 8px;
  transform: rotate(180deg);
}

.fm-address-bar .search {
  flex-basis: 240px;
  margin-left: 16px;
}

.fm-address-bar .search input {
  vertical-align: top;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  border: 1px solid env.$color-border;
  border-radius: 3px;
}