@use "../env";

body,
input,
textarea,
select,
button {
  font-weight: 400;
  font-family: "Google Sans", sans-serif;
}

a {
  color: env.$color-link;
}

// stylelint-disable-next-line selector-pseudo-element-no-unknown
::placeholder {
  color: #b3b3b3;
}

::placeholder {
  color: #b3b3b3;
}

html {
  height: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  max-height: 100%;
  background: #fff;
  color: env.$color-text;
  font-size: 13px;
  user-select: none;
}

button:disabled {
  opacity: 0.3;
}

div.filemanager {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}