@use "../env";

.fm-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  padding: 8px 2px;
}

.fm-container .files-wrap {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  min-height: min-content;
  border: 2px dashed transparent;
}

.fm-container.drag .files-wrap {
  border-color: env.$background-selected;
}

.fm-container .fm-item {
  display: flex;
  padding: 6px;
  border: 2px solid transparent;
  border-radius: 2px;
  cursor: default;
}

.fm-container .fm-item:hover {
  background: env.$background-hover;
}

.fm-container .fm-item.selected {
  background: env.$background-selected;
}

.fm-container .image-wrap {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.fm-container .name {
  overflow: hidden;
  font-size: 11px;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fm-container img.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fm-container .fm-item.ui-droppable-hover {
  border: 2px dashed #008bfd;
}

body.dragging .fm-container .files-wrap {
  overflow: unset;
}

.fm-container.view-grid .files-wrap {
  flex-wrap: wrap;
  align-content: flex-start;
}

.fm-container.view-grid .fm-item {
  flex-direction: column;
  width: 96px;
  height: 96px;
  margin: 4px;
}

.fm-container.view-grid .image-wrap {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &:empty {
    background-image: url("../icons/type/30/file.png");
  }
}

.fm-container.view-grid .image-wrap.image + .name {
  display: none;
}

.fm-container.view-grid .name {
  text-align: center;
  flex-shrink: 0;
}

.fm-container.view-list .files-wrap {
  flex-direction: column;
}

.fm-container.view-list .fm-item {
  align-items: center;
  line-height: 16px;
}

.fm-container.view-list .image-wrap {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  text-align: center;
  background-image: url("../icons/type/16/file.png");

  &.image img {
    display: none;
  }
}

.fm-container.view-list .name {
  flex-grow: 1;
}

@each $icon in env.$file-icons {
  .fm-container.view-grid .image-wrap.#{$icon}:empty {
    background-image: url("../icons/type/30/#{$icon}.png");
  }
  .fm-container.view-list .image-wrap.#{$icon} {
    background-image: url("../icons/type/16/#{$icon}.png");
  }
}