@use "../env";

.fm-status-bar {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  border-top: 1px solid env.$color-border;
  font-size: 12px;
  line-height: 32px;
}

.fm-status-bar .pagination {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-left: 1px solid env.$color-border;
}

.fm-status-bar .pagination .label:first-child {
  margin-right: 8px;
}

.fm-status-bar .pagination .label:last-child {
  margin-left: 8px;
}

.fm-status-bar .pagination .pages {
  display: flex;
}

.fm-status-bar .pagination .dots {
  width: 2rem;
  text-align: center;
}

.fm-status-bar .pagination .page {
  width: 32px;
  border: 1px solid transparent;
  border-radius: 3px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
}

.fm-status-bar .pagination .page:hover {
  background: env.$background-hover;
}

.fm-status-bar .pagination .page.current {
  border-color: #99D1FF;
  background: env.$background-selected;
}

.fm-status-bar > .selected {
  margin-left: 1rem;
}

.fm-status-bar .spacer {
  flex-grow: 1;
}

.fm-status-bar .count {
  margin-right: 1rem;
}

.fm-status-bar .view-mode {
  display: flex;
}

.fm-status-bar button {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 3px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.fm-status-bar button:hover {
  background-color: env.$background-hover;
}

.fm-status-bar button.selected {
  background-color: env.$background-selected;
}

.fm-status-bar button.btn-list {
  background-image: url("../icons/ui/list-view.png");
}

.fm-status-bar button.btn-grid {
  background-image: url("../icons/ui/grid-view.png");
}