@use "../env";

.fm-toolbar {
  display: flex;
  margin-bottom: 16px;
  padding: 8px;
  border-bottom: 1px solid env.$color-border;
  line-height: 32px;
}

.fm-toolbar label.file-upload,
.fm-toolbar button {
  height: 32px;
  margin-right: 8px;
  padding-right: 8px;
  padding-left: 32px;
  border-radius: 3px;
  background-position: 8px 50%;
  background-repeat: no-repeat;
}

.fm-toolbar label.file-upload:hover,
.fm-toolbar button:hover {
  background-color: env.$background-hover;
}

.fm-toolbar button.btn-folder-add {
  background-image: url("../icons/ui/add-folder.png");
}

.fm-toolbar label.file-upload {
  position: relative;
  background-image: url("../icons/ui/upload.png");
}

.fm-toolbar button.btn-rename {
  background-image: url("../icons/ui/rename.png");
}

.fm-toolbar button.btn-trash {
  background-image: url("../icons/ui/trash-can.png");
}

.fm-toolbar label.file-upload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}